# Exploratory Data Analysis (EDA)

## Importing Libraries

In [2]:
# Importer les biblioth√®ques n√©cessaires
import pandas as pd  # Pour la manipulation des donn√©es
import numpy as np  # Pour les op√©rations num√©riques
import matplotlib.pyplot as plt  # Pour la visualisation des donn√©es
import seaborn as sns  # Pour des visualisations statistiques avanc√©es
import os
# Configurer les options de visualisation
sns.set(style="whitegrid")  # D√©finir le style par d√©faut pour seaborn
plt.rcParams["figure.figsize"] = (10, 6)  # D√©finir la taille par d√©faut des figures

## Load datasets

In [3]:
import os
import pandas as pd

# -------- TRAIN --------
tr_dir = './data/train'

files_train = [
    f for f in os.listdir(tr_dir)
    if os.path.isfile(os.path.join(tr_dir, f))
]

tr_dataframes = {}
for file in files_train:
    file_path = os.path.join(tr_dir, file)
    if file.endswith('.csv'):
        tr_dataframes[file] = pd.read_csv(file_path)

print("\nüìÇ DATASETS TRAIN")
for name, df in tr_dataframes.items():
    print(f"Table : {name}, Dimensions : {df.shape}")


# -------- TEST --------
ts_dir = './data/test'

files_test = [
    f for f in os.listdir(ts_dir)
    if os.path.isfile(os.path.join(ts_dir, f))
]

ts_dataframes = {}
for file in files_test:
    file_path = os.path.join(ts_dir, file)
    if file.endswith('.csv'):
        ts_dataframes[file] = pd.read_csv(file_path)

print("\nüìÇ DATASETS TEST")
for name, df in ts_dataframes.items():
    print(f"Table : {name}, Dimensions : {df.shape}")

üìÇ DATASETS TRAIN
Table : df_Customers.csv, Dimensions : (89316, 4)
Table : df_Products.csv, Dimensions : (89316, 6)
Table : df_Payments.csv, Dimensions : (89316, 5)
Table : df_Orders.csv, Dimensions : (89316, 7)
Table : df_OrderItems.csv, Dimensions : (89316, 5)

üìÇ DATASETS TEST
Table : df_Customers.csv, Dimensions : (38279, 4)
Table : df_Products.csv, Dimensions : (38279, 6)
Table : df_Payments.csv, Dimensions : (38279, 5)
Table : df_Orders.csv, Dimensions : (38279, 4)
Table : df_OrderItems.csv, Dimensions : (38279, 5)

## Preview Datasets

### Train Data

In [93]:
# Examiner la structure des donn√©es pour chaque DataFrame
for name, df in tr_dataframes.items():
    print(f"\nStructure du dataset '{name}':")
    print(df.info())  # Afficher les informations sur les colonnes et les types de donn√©es
    print("\nAper√ßu des premi√®res lignes:")
    print(df.head())  # Afficher les premi√®res lignes du DataFrame
    print("\nStatistiques descriptives:")
    print(df.describe(include='all'))  # Afficher les statistiques descriptives

Structure du dataset 'df_Customers.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               89316 non-null  object
 1   customer_zip_code_prefix  89316 non-null  int64
 2   customer_city             89316 non-null  object
 3   customer_state            89316 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB
None

Aper√ßu des premi√®res lignes:
    customer_id  customer_zip_code_prefix       customer_city customer_state
0  hCT0x9JiGXBQ                     58125     varzea paulista             SP
1  PxA7fv9spyhx                      3112  armacao dos buzios             RJ
2  g3nXeJkGI0Qw                      4119             jandira             SP
3  EOEsCQ6QlpIg                     18212          uberlandia             MG
4  mVz5LO2Vd6cL                     88868            ilhabela             SP

Statistiques descriptives:
         customer_id  customer_zip_code_prefix customer_city customer_state
count          89316              89316.000000         89316          89316
unique         89316                       NaN          3735             27
top     hCT0x9JiGXBQ                       NaN     sao paulo             SP
freq               1                       NaN         14352          37879
mean             NaN              40499.471080           NaN            NaN
std              NaN              31194.386361           NaN            NaN
min              NaN               1003.000000           NaN            NaN
25%              NaN               9785.000000           NaN            NaN
50%              NaN              35480.000000           NaN            NaN
75%              NaN              70040.000000           NaN            NaN
max              NaN              99990.000000           NaN            NaN

Structure du dataset 'df_Products.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             89316 non-null  object
 1   product_category_name  89008 non-null  object
 2   product_weight_g       89301 non-null  float64
 3   product_length_cm      89301 non-null  float64
 4   product_height_cm      89301 non-null  float64
 5   product_width_cm       89301 non-null  float64
dtypes: float64(4), object(2)
memory usage: 4.1+ MB
None

Aper√ßu des premi√®res lignes:
     product_id     product_category_name  product_weight_g  \
0  90K0C1fIyQUf                      toys             491.0
1  qejhpMGGVcsl             watches_gifts             440.0
2  qUS5d2pEAyxJ  costruction_tools_garden            2200.0
3  639iGvMyv0De                      toys            1450.0
4  1lycYGcsic2F                      toys             300.0

   product_length_cm  product_height_cm  product_width_cm
0               19.0               12.0              16.0
1               18.0               14.0              17.0
2               16.0               16.0              16.0
3               68.0                3.0              48.0
4               17.0                4.0              12.0

Statistiques descriptives:
          product_id product_category_name  product_weight_g  \
count          89316                 89008      89301.000000
unique         27451                    70               NaN
top     0vbEvli2JYJu                  toys               NaN
freq             405                 67027               NaN
mean             NaN                   NaN       2087.068129
std              NaN                   NaN       3747.039215
min              NaN                   NaN          0.000000
25%              NaN                   NaN        300.000000
50%              NaN                   NaN        700.000000
75%              NaN                   NaN       1800.000000
max              NaN                   NaN      40425.000000

        product_length_cm  product_height_cm  product_width_cm
count        89301.000000       89301.000000       89301.00000
unique                NaN                NaN               NaN
top                   NaN                NaN               NaN
freq                  NaN                NaN               NaN
mean            30.220658          16.559423          23.03421
std             16.110199          13.388514          11.68828
min              7.000000           2.000000           6.00000
25%             18.000000           8.000000          15.00000
50%             25.000000          13.000000          20.00000
75%             38.000000          20.000000          30.00000
max            105.000000         105.000000         118.00000

Structure du dataset 'df_Payments.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              89316 non-null  object
 1   payment_sequential    89316 non-null  int64
 2   payment_type          89316 non-null  object
 3   payment_installments  89316 non-null  int64
 4   payment_value         89316 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.4+ MB
None

Aper√ßu des premi√®res lignes:
       order_id  payment_sequential payment_type  payment_installments  \
0  Axfy13Hk4PIk                   1  credit_card                     1
1  v6px92oS8cLG                   1  credit_card                     8
2  Ulpf9skrhjfm                   1  credit_card                     4
3  bwJVWupf2keN                   1  credit_card                     2
4  Dd0QnrMk9Cj5                   1  credit_card                     1

   payment_value
0         259.14
1         382.39
2         249.25
3          27.79
4          76.15

Statistiques descriptives:
            order_id  payment_sequential payment_type  payment_installments  \
count          89316        89316.000000        89316          89316.000000
unique         89316                 NaN            4                   NaN
top     Axfy13Hk4PIk                 NaN  credit_card                   NaN
freq               1                 NaN        65814                   NaN
mean             NaN            1.099646          NaN              2.965717
std              NaN            0.772658          NaN              2.796406
min              NaN            1.000000          NaN              0.000000
25%              NaN            1.000000          NaN              1.000000
50%              NaN            1.000000          NaN              2.000000
75%              NaN            1.000000          NaN              4.000000
max              NaN           29.000000          NaN             24.000000

        payment_value
count    89316.000000
unique            NaN
top               NaN
freq              NaN
mean       268.657190
std        344.409566
min          0.000000
25%         84.340000
50%        171.860000
75%        313.530000
max       7274.880000

Structure du dataset 'df_Orders.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       89316 non-null  object
 1   customer_id                    89316 non-null  object
 2   order_status                   89316 non-null  object
 3   order_purchase_timestamp       89316 non-null  object
 4   order_approved_at              89307 non-null  object
 5   order_delivered_timestamp      87427 non-null  object
 6   order_estimated_delivery_date  89316 non-null  object
dtypes: object(7)
memory usage: 4.8+ MB
None

Aper√ßu des premi√®res lignes:
       order_id   customer_id order_status order_purchase_timestamp  \
0  Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-10-22 18:57:54
1  v6px92oS8cLG  PxA7fv9spyhx    delivered      2018-06-20 21:40:31
2  Ulpf9skrhjfm  g3nXeJkGI0Qw    delivered      2018-02-16 16:19:31
3  bwJVWupf2keN  EOEsCQ6QlpIg    delivered      2018-08-18 18:04:29
4  Dd0QnrMk9Cj5  mVz5LO2Vd6cL    delivered      2017-12-22 16:44:04

     order_approved_at order_delivered_timestamp order_estimated_delivery_date
0  2017-10-22 19:14:13       2017-10-26 22:19:52                    2017-11-09
1  2018-06-20 22:20:20       2018-07-03 22:51:22                    2018-07-24
2  2018-02-17 16:15:35       2018-02-27 01:29:50                    2018-03-08
3  2018-08-18 18:15:16       2018-08-27 20:03:51                    2018-09-19
4  2017-12-22 17:31:31       2018-01-05 19:22:49                    2018-01-18

Statistiques descriptives:
            order_id   customer_id order_status order_purchase_timestamp  \
count          89316         89316        89316                    89316
unique         89316         89316            7                    72775
top     Axfy13Hk4PIk  hCT0x9JiGXBQ    delivered      2017-08-08 20:26:31
freq               1             1        87428                       87

          order_approved_at order_delivered_timestamp  \
count                 89307                     87427
unique                68215                     71143
top     2017-08-08 20:43:31       2017-08-14 12:46:18
freq                     87                        87

       order_estimated_delivery_date
count                          89316
unique                           444
top                       2017-12-20
freq                             500

Structure du dataset 'df_OrderItems.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89316 entries, 0 to 89315
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          89316 non-null  object
 1   product_id        89316 non-null  object
 2   seller_id         89316 non-null  object
 3   price             89316 non-null  float64
 4   shipping_charges  89316 non-null  float64
dtypes: float64(2), object(3)
memory usage: 3.4+ MB
None

Aper√ßu des premi√®res lignes:
       order_id    product_id     seller_id   price  shipping_charges
0  Axfy13Hk4PIk  90K0C1fIyQUf  ZWM05J9LcBSF  223.51             84.65
1  v6px92oS8cLG  qejhpMGGVcsl  IjlpYfhUbRQs  170.80             23.79
2  Ulpf9skrhjfm  qUS5d2pEAyxJ  77p2EYxcM9MD   64.40             17.38
3  bwJVWupf2keN  639iGvMyv0De  jWzS0ayv9TGf  264.50             30.72
4  Dd0QnrMk9Cj5  1lycYGcsic2F  l1pYW6GBnPMr  779.90             30.66

Statistiques descriptives:
            order_id    product_id     seller_id         price  \
count          89316         89316         89316  89316.000000
unique         89316         27451          2929           NaN
top     Axfy13Hk4PIk  0vbEvli2JYJu  RKad98cTxhSb           NaN
freq               1           405          1657           NaN
mean             NaN           NaN           NaN    340.900543
std              NaN           NaN           NaN    557.459897
min              NaN           NaN           NaN      0.850000
25%              NaN           NaN           NaN     59.650000
50%              NaN           NaN           NaN    136.900000
75%              NaN           NaN           NaN    399.200000
max              NaN           NaN           NaN   6735.000000

        shipping_charges
count       89316.000000
unique               NaN
top                  NaN
freq                 NaN
mean           44.283210
std            37.672491
min             0.000000
25%            20.110000
50%            35.055000
75%            57.190000
max           409.680000

### Test Data

In [94]:
# Examiner la structure des donn√©es pour chaque DataFrame
for name, df in ts_dataframes.items():
    print(f"\nStructure du dataset '{name}':")
    print(df.info())  # Afficher les informations sur les colonnes et les types de donn√©es
    print("\nAper√ßu des premi√®res lignes:")
    print(df.head())  # Afficher les premi√®res lignes du DataFrame
    print("\nStatistiques descriptives:")
    print(df.describe(include='all'))  # Afficher les statistiques descriptives

Structure du dataset 'df_Customers.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               38279 non-null  object
 1   customer_zip_code_prefix  38279 non-null  int64
 2   customer_city             38279 non-null  object
 3   customer_state            38279 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB
None

Aper√ßu des premi√®res lignes:
    customer_id  customer_zip_code_prefix        customer_city customer_state
0  I74lXDOfoqsp                      6020              goiania             GO
1  47TuLHF2s7X5                     23020               viamao             RS
2  dQ0dqI8Qwlj8                     75094             campinas             SP
3  iQCmWhNkIczb                     89284  santana de parnaiba             SP
4  Dp2g6JH8tO5Z                     39810             aripuana             MT

Statistiques descriptives:
         customer_id  customer_zip_code_prefix customer_city customer_state
count          38279              38279.000000         38279          38279
unique         38279                       NaN          2804             27
top     I74lXDOfoqsp                       NaN     sao paulo             SP
freq               1                       NaN          6160          16188
mean             NaN              40446.840200           NaN            NaN
std              NaN              31125.594129           NaN            NaN
min              NaN               1003.000000           NaN            NaN
25%              NaN               9792.000000           NaN            NaN
50%              NaN              35340.000000           NaN            NaN
75%              NaN              69068.000000           NaN            NaN
max              NaN              99980.000000           NaN            NaN

Structure du dataset 'df_Products.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             38279 non-null  object
 1   product_category_name  38111 non-null  object
 2   product_weight_g       38269 non-null  float64
 3   product_length_cm      38269 non-null  float64
 4   product_height_cm      38269 non-null  float64
 5   product_width_cm       38269 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.8+ MB
None

Aper√ßu des premi√®res lignes:
     product_id product_category_name  product_weight_g  product_length_cm  \
0  1slxdgbgWFax                  toys              50.0               16.0
1  77PgsiElQLeB           electronics             200.0               21.0
2  QVlD26X1y7NI       furniture_decor            1000.0              100.0
3  yWlFGkKYfrpa                  toys            8950.0               40.0
4  h6MCbrwh5kiC                  toys            2301.0               32.0

   product_height_cm  product_width_cm
0                5.0              11.0
1                7.0              14.0
2                5.0              20.0
3               30.0              40.0
4               35.0              34.0

Statistiques descriptives:
          product_id product_category_name  product_weight_g  \
count          38279                 38111      38269.000000
unique         16604                    66               NaN
top     UgkSjxoiV9Ev                  toys               NaN
freq             164                 28697               NaN
mean             NaN                   NaN       2118.472576
std              NaN                   NaN       3827.606405
min              NaN                   NaN          0.000000
25%              NaN                   NaN        300.000000
50%              NaN                   NaN        700.000000
75%              NaN                   NaN       1800.000000
max              NaN                   NaN      30000.000000

        product_length_cm  product_height_cm  product_width_cm
count        38269.000000       38269.000000      38269.000000
unique                NaN                NaN               NaN
top                   NaN                NaN               NaN
freq                  NaN                NaN               NaN
mean            30.316366          16.504717         23.154146
std             16.258049          13.370506         11.869977
min              7.000000           2.000000          8.000000
25%             18.000000           8.000000         15.000000
50%             25.000000          13.000000         20.000000
75%             38.000000          20.000000         30.000000
max            105.000000         105.000000        118.000000

Structure du dataset 'df_Payments.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              38279 non-null  object
 1   payment_sequential    38279 non-null  int64
 2   payment_type          38279 non-null  object
 3   payment_installments  38279 non-null  int64
 4   payment_value         38279 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.5+ MB
None

Aper√ßu des premi√®res lignes:
       order_id  payment_sequential payment_type  payment_installments  \
0  u6rPMRAYIGig                   1  credit_card                     2
1  ohY8f4FEbX19                   1  credit_card                     1
2  I28liQek73i2                   1       wallet                     1
3  bBG1T89mlY8W                   1  credit_card                     3
4  CYxJJSQS8Lbo                   1       wallet                     1

   payment_value
0         155.77
1           4.07
2         381.59
3          14.76
4         284.09

Statistiques descriptives:
            order_id  payment_sequential payment_type  payment_installments  \
count          38279        38279.000000        38279          38279.000000
unique         38279                 NaN            4                   NaN
top     u6rPMRAYIGig                 NaN  credit_card                   NaN
freq               1                 NaN        28265                   NaN
mean             NaN            1.096606          NaN              2.982105
std              NaN            0.742181          NaN              2.836529
min              NaN            1.000000          NaN              1.000000
25%              NaN            1.000000          NaN              1.000000
50%              NaN            1.000000          NaN              2.000000
75%              NaN            1.000000          NaN              4.000000
max              NaN           27.000000          NaN             24.000000

        payment_value
count    38279.000000
unique            NaN
top               NaN
freq              NaN
mean       267.698041
std        366.310037
min          0.030000
25%         82.175000
50%        171.930000
75%        309.205000
max      13664.080000

Structure du dataset 'df_Orders.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  38279 non-null  object
 1   customer_id               38279 non-null  object
 2   order_purchase_timestamp  38279 non-null  object
 3   order_approved_at         38272 non-null  object
dtypes: object(4)
memory usage: 1.2+ MB
None

Aper√ßu des premi√®res lignes:
       order_id   customer_id order_purchase_timestamp    order_approved_at
0  u6rPMRAYIGig  I74lXDOfoqsp      2017-11-18 12:29:57  2017-11-18 12:46:08
1  ohY8f4FEbX19  47TuLHF2s7X5      2018-06-02 17:13:12  2018-06-02 20:12:23
2  I28liQek73i2  dQ0dqI8Qwlj8      2018-01-08 11:01:30  2018-01-09 07:24:03
3  bBG1T89mlY8W  iQCmWhNkIczb      2017-03-10 10:24:46  2017-03-10 10:24:46
4  CYxJJSQS8Lbo  Dp2g6JH8tO5Z      2017-12-02 10:04:07  2017-12-05 04:13:30

Statistiques descriptives:
            order_id   customer_id order_purchase_timestamp  \
count          38279         38279                    38279
unique         38279         38279                    34255
top     u6rPMRAYIGig  I74lXDOfoqsp      2017-08-08 20:26:31
freq               1             1                       39

          order_approved_at
count                 38272
unique                33278
top     2017-08-08 20:43:31
freq                     39

Structure du dataset 'df_OrderItems.csv':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38279 entries, 0 to 38278
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          38279 non-null  object
 1   product_id        38279 non-null  object
 2   seller_id         38279 non-null  object
 3   price             38279 non-null  float64
 4   shipping_charges  38279 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.5+ MB
None

Aper√ßu des premi√®res lignes:
       order_id    product_id     seller_id    price  shipping_charges
0  u6rPMRAYIGig  1slxdgbgWFax  3jwvL6ihC45G    24.10             20.90
1  ohY8f4FEbX19  77PgsiElQLeB  GlLj704QXlDB    42.89             12.28
2  I28liQek73i2  QVlD26X1y7NI  V3iKL8r9W9NR    50.21             67.11
3  bBG1T89mlY8W  yWlFGkKYfrpa  RNBdBKsXebna    89.10             62.05
4  CYxJJSQS8Lbo  h6MCbrwh5kiC  5Ja2lH0N2OZt  2139.99              9.41

Statistiques descriptives:
            order_id    product_id     seller_id         price  \
count          38279         38279         38279  38279.000000
unique         38279         16604          2476           NaN
top     u6rPMRAYIGig  UgkSjxoiV9Ev  yGbPyLPc8PmT           NaN
freq               1           164           719           NaN
mean             NaN           NaN           NaN    342.499934
std              NaN           NaN           NaN    560.285949
min              NaN           NaN           NaN      0.850000
25%              NaN           NaN           NaN     59.880000
50%              NaN           NaN           NaN    136.900000
75%              NaN           NaN           NaN    399.200000
max              NaN           NaN           NaN   6729.000000

        shipping_charges
count       38279.000000
unique               NaN
top                  NaN
freq                 NaN
mean           44.194071
std            37.738984
min             0.000000
25%            19.930000
50%            34.600000
75%            57.120000
max           409.680000

## Mapping Data

### Train Data

In [95]:
tr_orders = tr_dataframes['df_Orders.csv']
tr_custs  = tr_dataframes['df_Customers.csv']
tr_items  = tr_dataframes['df_OrderItems.csv']
tr_pays   = tr_dataframes['df_Payments.csv']
tr_prods  = tr_dataframes['df_Products.csv']

### Test Data

In [96]:
ts_orders = ts_dataframes['df_Orders.csv']
ts_custs  = ts_dataframes['df_Customers.csv']
ts_items  = ts_dataframes['df_OrderItems.csv']
ts_pays   = ts_dataframes['df_Payments.csv']
ts_prods  = ts_dataframes['df_Products.csv']

## Merge Data

### Merge Train Data

In [97]:
tr_prods = tr_prods.drop_duplicates() #--> drop duplicates in product
# Merge cust and order on customer_id
tr_data = tr_orders.merge(tr_custs, on="customer_id", how="left")
# Merge with items on order_id
tr_data = tr_data.merge(tr_items, on="order_id", how="left")
# Merge with pays on order_id
tr_data = tr_data.merge(tr_pays, on="order_id", how="left")
# Merge with prods on product_id
tr_data = tr_data.merge(tr_prods, on="product_id", how="left")
tr_data.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,customer_zip_code_prefix,customer_city,customer_state,...,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,Axfy13Hk4PIk,hCT0x9JiGXBQ,delivered,2017-10-22 18:57:54,2017-10-22 19:14:13,2017-10-26 22:19:52,2017-11-09,58125,varzea paulista,SP,...,84.65,1,credit_card,1,259.14,toys,491.0,19.0,12.0,16.0
1,v6px92oS8cLG,PxA7fv9spyhx,delivered,2018-06-20 21:40:31,2018-06-20 22:20:20,2018-07-03 22:51:22,2018-07-24,3112,armacao dos buzios,RJ,...,23.79,1,credit_card,8,382.39,watches_gifts,440.0,18.0,14.0,17.0
2,Ulpf9skrhjfm,g3nXeJkGI0Qw,delivered,2018-02-16 16:19:31,2018-02-17 16:15:35,2018-02-27 01:29:50,2018-03-08,4119,jandira,SP,...,17.38,1,credit_card,4,249.25,costruction_tools_garden,2200.0,16.0,16.0,16.0
3,bwJVWupf2keN,EOEsCQ6QlpIg,delivered,2018-08-18 18:04:29,2018-08-18 18:15:16,2018-08-27 20:03:51,2018-09-19,18212,uberlandia,MG,...,30.72,1,credit_card,2,27.79,toys,1450.0,68.0,3.0,48.0
4,Dd0QnrMk9Cj5,mVz5LO2Vd6cL,delivered,2017-12-22 16:44:04,2017-12-22 17:31:31,2018-01-05 19:22:49,2018-01-18,88868,ilhabela,SP,...,30.66,1,credit_card,1,76.15,toys,300.0,17.0,4.0,12.0

### Merge Test Data

In [98]:
ts_prods = ts_prods.drop_duplicates() #--> drop duplicates in product
# Merge cust and order on customer_id
ts_data = ts_orders.merge(ts_custs, on="customer_id", how="left")
# Merge with item on order_id
ts_data = ts_data.merge(ts_items, on="order_id", how="left")
# Merge with pay on order_id
ts_data = ts_data.merge(ts_pays, on="order_id", how="left")
# Merge with prod on product_id
ts_data = ts_data.merge(ts_prods, on="product_id", how="left")
ts_data.head()

,order_id,customer_id,order_purchase_timestamp,order_approved_at,customer_zip_code_prefix,customer_city,customer_state,product_id,seller_id,price,shipping_charges,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,u6rPMRAYIGig,I74lXDOfoqsp,2017-11-18 12:29:57,2017-11-18 12:46:08,6020,goiania,GO,1slxdgbgWFax,3jwvL6ihC45G,24.10,20.90,1,credit_card,2,155.77,toys,50.0,16.0,5.0,11.0
1,ohY8f4FEbX19,47TuLHF2s7X5,2018-06-02 17:13:12,2018-06-02 20:12:23,23020,viamao,RS,77PgsiElQLeB,GlLj704QXlDB,42.89,12.28,1,credit_card,1,4.07,electronics,200.0,21.0,7.0,14.0
2,I28liQek73i2,dQ0dqI8Qwlj8,2018-01-08 11:01:30,2018-01-09 07:24:03,75094,campinas,SP,QVlD26X1y7NI,V3iKL8r9W9NR,50.21,67.11,1,wallet,1,381.59,furniture_decor,1000.0,100.0,5.0,20.0
3,bBG1T89mlY8W,iQCmWhNkIczb,2017-03-10 10:24:46,2017-03-10 10:24:46,89284,santana de parnaiba,SP,yWlFGkKYfrpa,RNBdBKsXebna,89.10,62.05,1,credit_card,3,14.76,toys,8950.0,40.0,30.0,40.0
4,CYxJJSQS8Lbo,Dp2g6JH8tO5Z,2017-12-02 10:04:07,2017-12-05 04:13:30,39810,aripuana,MT,h6MCbrwh5kiC,5Ja2lH0N2OZt,2139.99,9.41,1,wallet,1,284.09,toys,2301.0,32.0,35.0,34.0

## Statistic Analysis

### Train Data

In [99]:
# Analyse Statistique 

# Utiliser la m√©thode describe() pour obtenir des statistiques descriptives sur les colonnes num√©riques
for name, df in tr_data.items():
    print(f"\n--- Statistiques descriptives pour le fichier: {name} ---")
    print(df.describe())  # Afficher les statistiques descriptives
    print("\n-----------------------------")

--- Statistiques descriptives pour le fichier: order_id ---
count            89316
unique           89316
top       Axfy13Hk4PIk
freq                 1
Name: order_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: customer_id ---
count            89316
unique           89316
top       hCT0x9JiGXBQ
freq                 1
Name: customer_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_status ---
count         89316
unique            7
top       delivered
freq          87428
Name: order_status, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_purchase_timestamp ---
count                   89316
unique                  72775
top       2017-08-08 20:26:31
freq                       87
Name: order_purchase_timestamp, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_approved_at ---
count                   89307
unique                  68215
top       2017-08-08 20:43:31
freq                       87
Name: order_approved_at, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_delivered_timestamp ---
count                   87427
unique                  71143
top       2017-08-14 12:46:18
freq                       87
Name: order_delivered_timestamp, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_estimated_delivery_date ---
count          89316
unique           444
top       2017-12-20
freq             500
Name: order_estimated_delivery_date, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: customer_zip_code_prefix ---
count    89316.000000
mean     40499.471080
std      31194.386361
min       1003.000000
25%       9785.000000
50%      35480.000000
75%      70040.000000
max      99990.000000
Name: customer_zip_code_prefix, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: customer_city ---
count         89316
unique         3735
top       sao paulo
freq          14352
Name: customer_city, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: customer_state ---
count     89316
unique       27
top          SP
freq      37879
Name: customer_state, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: product_id ---
count            89316
unique           27451
top       0vbEvli2JYJu
freq               405
Name: product_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: seller_id ---
count            89316
unique            2929
top       RKad98cTxhSb
freq              1657
Name: seller_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: price ---
count    89316.000000
mean       340.900543
std        557.459897
min          0.850000
25%         59.650000
50%        136.900000
75%        399.200000
max       6735.000000
Name: price, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: shipping_charges ---
count    89316.000000
mean        44.283210
std         37.672491
min          0.000000
25%         20.110000
50%         35.055000
75%         57.190000
max        409.680000
Name: shipping_charges, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: payment_sequential ---
count    89316.000000
mean         1.099646
std          0.772658
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         29.000000
Name: payment_sequential, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: payment_type ---
count           89316
unique              4
top       credit_card
freq            65814
Name: payment_type, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: payment_installments ---
count    89316.000000
mean         2.965717
std          2.796406
min          0.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         24.000000
Name: payment_installments, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: payment_value ---
count    89316.000000
mean       268.657190
std        344.409566
min          0.000000
25%         84.340000
50%        171.860000
75%        313.530000
max       7274.880000
Name: payment_value, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_category_name ---
count     89008
unique       70
top        toys
freq      67027
Name: product_category_name, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: product_weight_g ---
count    89301.000000
mean      2087.068129
std       3747.039215
min          0.000000
25%        300.000000
50%        700.000000
75%       1800.000000
max      40425.000000
Name: product_weight_g, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_length_cm ---
count    89301.000000
mean        30.220658
std         16.110199
min          7.000000
25%         18.000000
50%         25.000000
75%         38.000000
max        105.000000
Name: product_length_cm, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_height_cm ---
count    89301.000000
mean        16.559423
std         13.388514
min          2.000000
25%          8.000000
50%         13.000000
75%         20.000000
max        105.000000
Name: product_height_cm, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_width_cm ---
count    89301.00000
mean        23.03421
std         11.68828
min          6.00000
25%         15.00000
50%         20.00000
75%         30.00000
max        118.00000
Name: product_width_cm, dtype: float64

-----------------------------

### Test Data

In [100]:
# Analyse Statistique 

# Utiliser la m√©thode describe() pour obtenir des statistiques descriptives sur les colonnes num√©riques
for name, df in ts_data.items():
    print(f"\n--- Statistiques descriptives pour le fichier: {name} ---")
    print(df.describe())  # Afficher les statistiques descriptives
    print("\n-----------------------------")

--- Statistiques descriptives pour le fichier: order_id ---
count            38279
unique           38279
top       u6rPMRAYIGig
freq                 1
Name: order_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: customer_id ---
count            38279
unique           38279
top       I74lXDOfoqsp
freq                 1
Name: customer_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_purchase_timestamp ---
count                   38279
unique                  34255
top       2017-08-08 20:26:31
freq                       39
Name: order_purchase_timestamp, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: order_approved_at ---
count                   38272
unique                  33278
top       2017-08-08 20:43:31
freq                       39
Name: order_approved_at, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: customer_zip_code_prefix ---
count    38279.000000
mean     40446.840200
std      31125.594129
min       1003.000000
25%       9792.000000
50%      35340.000000
75%      69068.000000
max      99980.000000
Name: customer_zip_code_prefix, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: customer_city ---
count         38279
unique         2804
top       sao paulo
freq           6160
Name: customer_city, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: customer_state ---
count     38279
unique       27
top          SP
freq      16188
Name: customer_state, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: product_id ---
count            38279
unique           16604
top       UgkSjxoiV9Ev
freq               164
Name: product_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: seller_id ---
count            38279
unique            2476
top       yGbPyLPc8PmT
freq               719
Name: seller_id, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: price ---
count    38279.000000
mean       342.499934
std        560.285949
min          0.850000
25%         59.880000
50%        136.900000
75%        399.200000
max       6729.000000
Name: price, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: shipping_charges ---
count    38279.000000
mean        44.194071
std         37.738984
min          0.000000
25%         19.930000
50%         34.600000
75%         57.120000
max        409.680000
Name: shipping_charges, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: payment_sequential ---
count    38279.000000
mean         1.096606
std          0.742181
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         27.000000
Name: payment_sequential, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: payment_type ---
count           38279
unique              4
top       credit_card
freq            28265
Name: payment_type, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: payment_installments ---
count    38279.000000
mean         2.982105
std          2.836529
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max         24.000000
Name: payment_installments, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: payment_value ---
count    38279.000000
mean       267.698041
std        366.310037
min          0.030000
25%         82.175000
50%        171.930000
75%        309.205000
max      13664.080000
Name: payment_value, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_category_name ---
count     38111
unique       66
top        toys
freq      28697
Name: product_category_name, dtype: object

-----------------------------

--- Statistiques descriptives pour le fichier: product_weight_g ---
count    38269.000000
mean      2118.472576
std       3827.606405
min          0.000000
25%        300.000000
50%        700.000000
75%       1800.000000
max      30000.000000
Name: product_weight_g, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_length_cm ---
count    38269.000000
mean        30.316366
std         16.258049
min          7.000000
25%         18.000000
50%         25.000000
75%         38.000000
max        105.000000
Name: product_length_cm, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_height_cm ---
count    38269.000000
mean        16.504717
std         13.370506
min          2.000000
25%          8.000000
50%         13.000000
75%         20.000000
max        105.000000
Name: product_height_cm, dtype: float64

-----------------------------

--- Statistiques descriptives pour le fichier: product_width_cm ---
count    38269.000000
mean        23.154146
std         11.869977
min          8.000000
25%         15.000000
50%         20.000000
75%         30.000000
max        118.000000
Name: product_width_cm, dtype: float64

-----------------------------

## Data Cleaning

### Train Data - Missing Values

In [140]:
# Checking for missing values
tr_data = tr_data[tr_data.order_status == 'delivered']
print("Missing values in Train Data:")
print(tr_data.isnull().sum())

Missing values in Train Data:
order_id                    0
customer_id                 0
order_status                0
order_purchase_timestamp    0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
product_id                  0
seller_id                   0
price                       0
shipping_charges            0
payment_sequential          0
payment_type                0
payment_installments        0
payment_value               0
product_category_name       0
year                        0
month                       0
quarter                     0
day                         0
weekday                     0
is_weekend                  0
day_of_year                 0
Year                        0
Month                       0
Quarter                     0
Day                         0
Weekday                     0
Is_Weekend                  0
Day_Of_Year                 0
dtype: int64

### Train Data - Cleaning

In [131]:
# Replace missing values
tr_data['product_category_name'] = tr_data['product_category_name'].fillna('Unknown')
# Remove irrelevant columns
cols_to_drop = [
    'order_approved_at',
    'order_delivered_timestamp',
    'order_estimated_delivery_date',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm'
]
tr_data.drop(columns=cols_to_drop, inplace=True, errors='ignore')
print(tr_data.isnull().sum())

order_id                    0
customer_id                 0
order_status                0
order_purchase_timestamp    0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
product_id                  0
seller_id                   0
price                       0
shipping_charges            0
payment_sequential          0
payment_type                0
payment_installments        0
payment_value               0
product_category_name       0
year                        0
month                       0
quarter                     0
day                         0
weekday                     0
is_weekend                  0
day_of_year                 0
Year                        0
Month                       0
Quarter                     0
Day                         0
Weekday                     0
Is_Weekend                  0
Day_Of_Year                 0
dtype: int64

### Test Data - Missing Values

In [133]:
# Checking for missing values
print("Missing values in Test Data:")
print(ts_data.isnull().sum())

Missing values in Test Data:
order_id                      0
customer_id                   0
order_purchase_timestamp      0
order_approved_at             7
customer_zip_code_prefix      0
customer_city                 0
customer_state                0
product_id                    0
seller_id                     0
price                         0
shipping_charges              0
payment_sequential            0
payment_type                  0
payment_installments          0
payment_value                 0
product_category_name       168
product_weight_g             10
product_length_cm            10
product_height_cm            10
product_width_cm             10
dtype: int64

### Test Data - Cleaning

In [135]:
# Replace missing values
ts_data['product_category_name'] = ts_data['product_category_name'].fillna('Unknown')
# Remove irrelevant columns
cols_to_drop = [
    'order_approved_at',
    'order_delivered_timestamp',
    'product_weight_g',
    'product_length_cm',
    'product_height_cm',
    'product_width_cm'
]
ts_data.drop(columns=cols_to_drop, inplace=True, errors='ignore')
# Convert the relevant columns to datetime 
ts_data['order_purchase_timestamp'] = pd.to_datetime(ts_data['order_purchase_timestamp'])
print(ts_data.isnull().sum())

order_id                    0
customer_id                 0
order_purchase_timestamp    0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
product_id                  0
seller_id                   0
price                       0
shipping_charges            0
payment_sequential          0
payment_type                0
payment_installments        0
payment_value               0
product_category_name       0
dtype: int64

## Feature Engineering

### Train Data

In [294]:
# Convert date to datetime 
tr_data['order_purchase_timestamp'] = pd.to_datetime(tr_data['order_purchase_timestamp'])
tr_data["Date"] = tr_data["order_purchase_timestamp"]

# Features temporelles de base
tr_data['Year'] = tr_data['Date'].dt.year
tr_data['Month'] = tr_data['Date'].dt.month
tr_data['Quarter'] = tr_data['Date'].dt.quarter
tr_data['Day'] = tr_data['Date'].dt.day

# Jour de la semaine (0 = lundi, 6 = dimanche)
tr_data['DayOfWeek'] = tr_data['Date'].dt.dayofweek

# Jour de l‚Äôann√©e (saisonnalit√© fine)
tr_data['DayOfYear'] = tr_data['Date'].dt.dayofyear

# Semaine de l‚Äôann√©e (saisonnalit√© fine)
tr_data['WeekOfYear'] = tr_data['Date'].dt.isocalendar().week.astype(int)

# Week-end (feature binaire)
tr_data['IsWeekend'] = tr_data['DayOfWeek'].isin([5, 6]).astype(int)

# Function to map each category to a macro category
def map_product_category(product_category_name):
    # Tech & Electronics 
    TECH_ELECTRONICS = ['computers_accessories', 'electronics', 'audio', 'consoles_games', 'tables_printing_image', 'computers']
    
    # Home & Furniture
    HOME_FURNITURE = ['garden_tools', 'bed_bath_table', 'furniture_decor', 'office_furniture', 
                      'housewares', 'home_appliances', 'home_appliances_2', 
                      'kitchen_dining_laundry_garden_furniture', 'furniture_living_room', 
                      'furniture_bedroom', 'home_confort', 'home_comfort_2']
    
    # Fashion & Beauty
    FASHION_BEAUTY = ['health_beauty', 'watches_gifts', 'perfumery', 'fashion_bags_accessories', 
                             'fashion_shoes', 'fashion_sport', 'fashion_childrens_clothes', 
                             'fashio_female_clothing', 'fashion_male_clothing', 'fashion_underwear_beach']

    # Leisure & Entertainment
    LEISURE_ENTERTAINMENT = ['toys', 'cool_stuff', 'sports_leisure', 'books_technical', 
                             'books_general_interest', 'books_imported', 'musical_instruments', 'dvds_blu_ray',
                             'cine_photo', 'music']
    
    # Everyday & Misc
    EVERYDAY_MISC = ['stationery', 'market_place', 'small_appliances', 
                     'party_supplies', 'arts_and_craftmanship', 'pet_shop', 'baby']
    
    # Others
    Others = ['Unknown']   

    if product_category_name in TECH_ELECTRONICS:
        return 'Tech & Electronics'
    elif product_category_name in HOME_FURNITURE:
        return 'Home & Furniture'
    elif product_category_name in FASHION_BEAUTY:
        return 'Fashion & Beauty'
    elif product_category_name in LEISURE_ENTERTAINMENT:
        return 'Leisure & Entertainment'
    elif product_category_name in EVERYDAY_MISC:
        return 'Everyday & Misc'
    else:
        return 'Others'

# Apply the function to create a new column with macro categories
tr_data['Macro_Category'] = tr_data['product_category_name'].apply(map_product_category)

# Define a mapping from states to regions
State_To_Region = {
    'SP': 'Southeast', 'RJ': 'Southeast', 'MG': 'Southeast', 'ES': 'Southeast',
    'RS': 'South', 'PR': 'South', 'SC': 'South',
    'BA': 'Northeast', 'PE': 'Northeast', 'CE': 'Northeast', 'PB': 'Northeast', 
    'AL': 'Northeast', 'RN': 'Northeast', 'SE': 'Northeast', 'MA': 'Northeast', 'PI': 'Northeast',
    'GO': 'Central-West', 'DF': 'Central-West', 'MT': 'Central-West', 'MS': 'Central-West',
    'PA': 'North', 'AM': 'North', 'RO': 'North', 'TO': 'North',
    'AP': 'North', 'AC': 'North', 'RR': 'North'
}

# Map each state with it's region
tr_data['Region'] = tr_data['customer_state'].map(State_To_Region)

### Train Data - Temporal Features

In [200]:
# Convert date to datetime 
tr_data['order_purchase_timestamp'] = pd.to_datetime(tr_data['order_purchase_timestamp'])

# Features temporelles de base
tr_data["Date"] = tr_data["order_purchase_timestamp"].dt.date
tr_data['Year'] = tr_data['order_purchase_timestamp'].dt.year
tr_data['Month'] = tr_data['order_purchase_timestamp'].dt.month
tr_data['Quarter'] = tr_data['order_purchase_timestamp'].dt.quarter
tr_data['Day'] = tr_data['order_purchase_timestamp'].dt.day

# Jour de la semaine (0 = lundi, 6 = dimanche)
tr_data['DayOfWeek'] = tr_data['order_purchase_timestamp'].dt.dayofweek

# Jour de l‚Äôann√©e (saisonnalit√© fine)
tr_data['DayOfYear'] = tr_data['order_purchase_timestamp'].dt.dayofyear

# Semaine de l‚Äôann√©e (saisonnalit√© fine)
tr_data['WeekOfYear'] = tr_data['order_purchase_timestamp'].dt.isocalendar().week.astype(int)

# Week-end (feature binaire)
tr_data['IsWeekend'] = tr_data['DayOfWeek'].isin([5, 6]).astype(int)

tr_data[
    ['order_purchase_timestamp', 'Date', 'Year', 'Quarter', 'Month', 'Day', 'DayOfWeek', 'DayOfYear', 'WeekOfYear', 'IsWeekend']
].head()

,order_purchase_timestamp,Date,Year,Quarter,Month,Day,DayOfWeek,DayOfYear,WeekOfYear,IsWeekend
0,2017-10-22 18:57:54,2017-10-22,2017,4,10,22,6,295,42,1
1,2018-06-20 21:40:31,2018-06-20,2018,2,6,20,2,171,25,0
2,2018-02-16 16:19:31,2018-02-16,2018,1,2,16,4,47,7,0
3,2018-08-18 18:04:29,2018-08-18,2018,3,8,18,5,230,33,1
4,2017-12-22 16:44:04,2017-12-22,2017,4,12,22,4,356,51,0

### Train Data - Product Category

In [148]:
# Function to map each category to a macro category
def map_product_category(product_category_name):
    # Tech & Electronics 
    TECH_ELECTRONICS = ['computers_accessories', 'electronics', 'audio', 'consoles_games', 'tables_printing_image', 'computers']
    
    # Home & Furniture
    HOME_FURNITURE = ['garden_tools', 'bed_bath_table', 'furniture_decor', 'office_furniture', 
                      'housewares', 'home_appliances', 'home_appliances_2', 
                      'kitchen_dining_laundry_garden_furniture', 'furniture_living_room', 
                      'furniture_bedroom', 'home_confort', 'home_comfort_2']
    
    # Fashion & Beauty
    FASHION_BEAUTY = ['health_beauty', 'watches_gifts', 'perfumery', 'fashion_bags_accessories', 
                             'fashion_shoes', 'fashion_sport', 'fashion_childrens_clothes', 
                             'fashio_female_clothing', 'fashion_male_clothing', 'fashion_underwear_beach']

    # Leisure & Entertainment
    LEISURE_ENTERTAINMENT = ['toys', 'cool_stuff', 'sports_leisure', 'books_technical', 
                             'books_general_interest', 'books_imported', 'musical_instruments', 'dvds_blu_ray',
                             'cine_photo', 'music']
    
    # Everyday & Misc
    EVERYDAY_MISC = ['stationery', 'market_place', 'small_appliances', 
                     'party_supplies', 'arts_and_craftmanship', 'pet_shop', 'baby']
    
    # Others
    Others = ['Unknown']   

    if product_category_name in TECH_ELECTRONICS:
        return 'Tech & Electronics'
    elif product_category_name in HOME_FURNITURE:
        return 'Home & Furniture'
    elif product_category_name in FASHION_BEAUTY:
        return 'Fashion & Beauty'
    elif product_category_name in LEISURE_ENTERTAINMENT:
        return 'Leisure & Entertainment'
    elif product_category_name in EVERYDAY_MISC:
        return 'Everyday & Misc'
    else:
        return 'Others'

# Apply the function to create a new column with macro categories
tr_data['Macro_Category'] = tr_data['product_category_name'].apply(map_product_category)
print(tr_data['Macro_Category'].value_counts())
#tr_data['macro_category']

Macro_Category
Leisure & Entertainment    68480
Home & Furniture            6917
Fashion & Beauty            4613
Others                      3258
Tech & Electronics          2515
Everyday & Misc             1645
Name: count, dtype: int64

### Train Data - State to regions

In [166]:
# Define a mapping from states to regions
State_To_Region = {
    'SP': 'Southeast', 'RJ': 'Southeast', 'MG': 'Southeast', 'ES': 'Southeast',
    'RS': 'South', 'PR': 'South', 'SC': 'South',
    'BA': 'Northeast', 'PE': 'Northeast', 'CE': 'Northeast', 'PB': 'Northeast', 
    'AL': 'Northeast', 'RN': 'Northeast', 'SE': 'Northeast', 'MA': 'Northeast', 'PI': 'Northeast',
    'GO': 'Central-West', 'DF': 'Central-West', 'MT': 'Central-West', 'MS': 'Central-West',
    'PA': 'North', 'AM': 'North', 'RO': 'North', 'TO': 'North',
    'AP': 'North', 'AC': 'North', 'RR': 'North'
}

# Map each state with it's region
tr_data['Region'] = tr_data['customer_state'].map(State_To_Region)
print(tr_data['Region'].value_counts())

Region
Southeast       60299
South           12465
Northeast        8051
Central-West     5018
North            1595
Name: count, dtype: int64

#### Train Data - Total des ventes dans le temps et par produits & region

In [257]:
# Total des ventes (global)
tr_data["Sales"] = tr_data["price"]
total_sales = tr_data["Sales"].sum()
#print(f"Total des ventes (global) : {total_sales:,.2f}")

# Total des ventes par jour 
total_sales_per_day = (
    tr_data
    .groupby("Date", as_index=False)
    .agg(total_sales=("Sales", "sum"))
    .sort_values("Date")
)
#total_sales_per_day.head()

# Total des ventes par mois
total_sales_per_month = (
    tr_data.groupby(["Year", "Month"])["Sales"]
    .sum()
    .reset_index(name="total_sales")
)

# Total des ventes par trimestre
total_sales_per_quarter = (
    tr_data.groupby(["Year", "Quarter"])["Sales"]
    .sum()
    .reset_index(name="total_sales")
)

# Total des ventes par ann√©e
total_sales_per_year = (
    tr_data.groupby("Year")["Sales"]
    .sum()
    .reset_index(name="total_sales")
)

# Total des ventes par produits
total_sales_per_product = (
    tr_data
    .groupby("Macro_Category", as_index=False)
    .agg(total_sales=("sales", "sum"))
    .sort_values("total_sales", ascending=False)
)

#total_sales_per_product.head()

# Total des ventes par region
total_sales_per_region = (
    tr_data
    .groupby("Region", as_index=False)
    .agg(total_sales=("sales", "sum"))
    .sort_values("total_sales", ascending=False)
)

#total_sales_per_region.head()

# Total des ventes par produit √ó r√©gion
total_sales_product_region = (
    tr_data
    .groupby(["Macro_Category", "Region"], as_index=False)
    .agg(total_sales=("sales", "sum"))
    .sort_values("total_sales", ascending=False)
)

#total_sales_product_region.head()

#### Train Data - Ventes moyennes dans le temps et par produits & region

In [260]:
# Ventes moyennes par jour
avg_daily_sales = tr_data.groupby("Date")["sales"].sum().mean()
#print(f"Vente moyenne journali√®re : {avg_daily_sales:,.2f}")

# Ventes moyennes par mois
avg_monthly_sales = tr_data.groupby(["Year", "Month"])["sales"].sum().mean()

# Ventes moyennes par trimestre
avg_quarterly_sales = tr_data.groupby(["Year", "Quarter"])["sales"].sum().mean()

# Ventes moyennes par ann√©e
avg_yearly_sales = tr_data.groupby("Year")["sales"].sum().mean()

# Ventes moyennes par produit
avg_sales_per_product = (
    tr_data
    .groupby("Macro_Category")["Sales"].mean()
    .reset_index(name="avg_sales")
)

# Ventes moyennes par region
avg_sales_per_region = (
    tr_data
    .groupby("Region")["Sales"].mean()
    .reset_index(name="avg_sales")
)

#### Train Data - Total des commandes dans le temps et par produits & region

In [267]:
# Total de commandes
total_orders = tr_data["order_id"].nunique()

# Total de commandes par jour
total_orders_per_day = (
    tr_data.groupby("Date")["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)

# Total de commandes par mois
total_orders_per_month = (
    tr_data.groupby(["Year", "Month"])["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)

# Total de commandes par trimestre
total_orders_per_quarter = (
    tr_data.groupby(["Year", "Quarter"])["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)
# Total de commandes par ann√©e
total_orders_per_year = (
    tr_data.groupby("Year")["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)

# Total de commandes par produits
total_orders_per_product = (
    tr_data.groupby("Macro_Category")["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)

# Total de commandes par region
total_orders_per_region = (
    tr_data.groupby("Region")["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)

####  Train Data - Nombre de clients dans le temps et par produits & region

In [286]:
# Total Clients 
total_clients = tr_data["customer_id"].nunique()

# Clients actifs par jour
clients_per_day = (
    tr_data.groupby("Date")["customer_id"]
    .nunique()
    .reset_index(name="clients_actifs_jour")
)

# Clients actifs par mois
clients_per_month = (
    tr_data.groupby(["Year", "Month"])["customer_id"]
    .nunique()
    .reset_index(name="clients_actifs_mois")
)

# Clients actifs par trimestre
clients_per_quarter = (
    tr_data.groupby(["Year", "Quarter"])["customer_id"]
    .nunique()
    .reset_index(name="clients_actifs_trimestre")
)

# Clients actifs par ann√©e 
clients_per_year = (
    tr_data.groupby("Year")["customer_id"]
    .nunique()
    .reset_index(name="clients_actifs_annee")
)

# Client actifs par produit
clients_per_product = (
    tr_data.groupby(["Macro_Category"])["customer_id"]
    .nunique()
    .reset_index(name="nb_clients")
)

# Client actifs par region
clients_per_region = (
    tr_data.groupby(["Region"])["customer_id"]
    .nunique()
    .reset_index(name="nb_clients")
)

####  Train Data - Nombre moyens de clients dans le temps et par produits & region

In [289]:
# Nombre de clients moyens par jour
avg_daily_cust = (
    tr_data.groupby("Date")["customer_id"]
    .nunique()
    .mean()
)

# Nombre de clients moyens par mois
avg_monthly_cust = (
    tr_data.groupby(["Year", "Month"])["customer_id"]
    .nunique()
    .mean()
)

# Nombre de clients moyens par trimestre
avg_quarterly_cust = (
    tr_data.groupby(["Year", "Quarter"])["customer_id"]
    .nunique()
    .mean()
)

# Nombre de clients moyens par ann√©e
avg_yearly_cust = (
    tr_data.groupby("Year")["customer_id"]
    .nunique()
    .mean()
)

# Nombre de clients moyens par produits
avg_product_cust = (
    tr_data.groupby("Macro_Category")["customer_id"]
    .nunique()
    .mean()
)

# Nombre de clients moyens par region
avg_region_cust = (
    tr_data.groupby("Region")["customer_id"]
    .nunique()
    .mean()
)

# Nombre de produits vendus par jour
nb_produits_vendus_jour = (
    tr_data.groupby("Date")["product_id"]
    .count()
    .reset_index(name="nb_produits_vendus")
)

# Nombre de commandes par client
commandes_par_client = (
    tr_data.groupby("customer_id")["order_id"]
    .nunique()
    .reset_index(name="nb_commandes")
)

####  Train Data - Analyse des ventes par types de paiement

In [293]:
# Total des ventes par type de paiement
sales_by_payment = (
    tr_data.groupby('payment_type')
    .agg(
        total_sales=('Sales', 'sum'),
        avg_sales=('Sales', 'mean'),
        nb_orders=('order_id', 'nunique'),
        nb_customers=('customer_id', 'nunique')
    )
    .sort_values('total_sales', ascending=False)
)

# Part des ventes par type de paiement (%)
sales_by_payment['sales_share_%'] = (
    sales_by_payment['total_sales'] /
    sales_by_payment['total_sales'].sum() * 100
)

sales_by_payment

              total_sales   avg_sales  nb_orders  nb_customers  sales_share_%
payment_type
credit_card   21748493.76  337.526092      64435         64435      72.675423
wallet         6086051.25  359.292240      16939         16939      20.337333
voucher        1676522.16  350.004626       4790          4790       5.602317
debit_card      414446.46  327.884858       1264          1264       1.384927

####  Train Data - Lags & Rolling Features

In [302]:
# Agr√©gation ventes journali√®res par r√©gion
sales_region_day = (
    tr_data.groupby(['Date', 'Region'])
    .agg(daily_sales=('Sales', 'sum'))
    .reset_index()
)

# Trier correctement
sales_region_day = sales_region_day.sort_values(
    ['Region', 'Date']
)

# Cr√©ation des lags
lags = [1, 7, 14, 30]

for lag in lags:
    sales_region_day[f'sales_lag_{lag}'] = (
        sales_region_day.groupby('Region')['daily_sales']
        .shift(lag)
    )

# Supprimer les lignes avec des valeurs manquantes (dus aux lags)
#sales_region_day.dropna(inplace=True)

# Cr√©ation des rolling means (moyennes glissantes)
windows = [7, 14, 30]

for window in windows:
    sales_region_day[f'rolling_mean_{window}'] = (
        sales_region_day.groupby('Region')['daily_sales']
        .rolling(window=window)
        .mean()
        .reset_index(level=0, drop=True)
    )

# Cr√©ation des rolling std (volatilit√©)
for window in windows:
    sales_region_day[f'rolling_std_{window}'] = (
        sales_region_day.groupby('Region')['daily_sales']
        .rolling(window=window)
        .std()
        .reset_index(level=0, drop=True)
    )

# Supprimer les lignes avec des valeurs manquantes (dus aux rolling calculations)
sales_region_day.dropna(inplace=True)
sales_region_day.head()

,Date,Region,daily_sales,sales_lag_1,sales_lag_7,sales_lag_14,sales_lag_30,rolling_mean_7,rolling_mean_14,rolling_mean_30,rolling_std_7,rolling_std_14,rolling_std_30
533,2017-01-25 18:22:36,Central-West,30.94,164.98,33.41,468.90,12.26,69.992857,158.746429,467.097667,51.412065,260.817691,793.108627
545,2017-01-26 00:16:29,Central-West,188.80,30.94,26.20,1036.36,329.96,93.221429,98.206429,462.392333,63.612839,70.012436,794.368024
550,2017-01-26 10:00:37,Central-West,181.56,188.80,68.10,81.50,394.80,109.430000,105.353571,455.284333,70.253294,73.210028,795.946163
570,2017-01-26 13:43:07,Central-West,26.85,181.56,89.10,250.92,61.70,100.537143,89.348571,454.122667,76.882724,62.673262,796.565589
571,2017-01-26 13:51:54,Central-West,226.37,26.85,19.30,172.13,2899.00,130.118571,93.222857,365.035000,80.181801,69.489987,649.597571

In [309]:
pip install joblib
pip install scikit-learn

Python(59818) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Collecting joblib
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
Installing collected packages: joblib
Successfully installed joblib-1.5.3

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [312]:
pip install dotenv

Python(60567) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Collecting dotenv
  Downloading dotenv-0.9.9-py2.py3-none-any.whl.metadata (279 bytes)
Collecting python-dotenv (from dotenv)
  Downloading python_dotenv-1.2.1-py3-none-any.whl.metadata (25 kB)
Downloading dotenv-0.9.9-py2.py3-none-any.whl (1.9 kB)
Downloading python_dotenv-1.2.1-py3-none-any.whl (21 kB)
Installing collected packages: python-dotenv, dotenv
Successfully installed dotenv-0.9.9 python-dotenv-1.2.1

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [314]:
from dotenv import load_dotenv
import os

load_dotenv()

TRAIN_DIR = os.getenv("TRAIN_DIR")
MODELS_DIR = os.getenv("MODELS_DIR")
RANDOM_STATE = int(os.getenv("RANDOM_STATE"))

In [317]:
import sys
print(sys.executable)

/usr/local/bin/python3

In [322]:
import sys, site
print("Python executable:", sys.executable)
print("Python version:", sys.version)
print("site-packages:", site.getsitepackages())

Python executable: /usr/local/bin/python3
Python version: 3.13.1 (v3.13.1:06714517797, Dec  3 2024, 14:00:22) [Clang 15.0.0 (clang-1500.3.9.4)]
site-packages: ['/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages']

In [ ]:
import os
import json
import joblib
import numpy as np
import pandas as pd

from datetime import datetime

from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from xgboost import XGBRegressor
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import ExponentialSmoothing


# =========================
# CONFIG √Ä ADAPTER SI BESOIN
# =========================
DF = tr_data
DATE_COL = "Date"   # ou "order_purchase_timestamp"
TARGET_COL = "daily_sales"         # ta cible
DROP_COLS = []                     # ex: ["order_id"] si tu veux

MODELS_DIR = "./models"
ARTEFACTS_DIR = "./artefacts"
os.makedirs(MODELS_DIR, exist_ok=True)
os.makedirs(ARTEFACTS_DIR, exist_ok=True)


def rmse(y_true, y_pred):
    return float(np.sqrt(mean_squared_error(y_true, y_pred)))

def mape(y_true, y_pred):
    y_true = np.array(y_true, dtype=float)
    y_pred = np.array(y_pred, dtype=float)
    mask = y_true != 0
    return float(np.mean(np.abs((y_true[mask] - y_pred[mask]) / y_true[mask])) * 100) if mask.any() else np.nan

def time_split(df, date_col, test_size=0.2):
    df = df.sort_values(date_col).reset_index(drop=True)
    split_idx = int(len(df) * (1 - test_size))
    return df.iloc[:split_idx].copy(), df.iloc[split_idx:].copy()

def save_json(path, obj):
    with open(path, "w", encoding="utf-8") as f:
        json.dump(obj, f, indent=2, ensure_ascii=False)

def ensure_datetime(df, col):
    df = df.copy()
    df[col] = pd.to_datetime(df[col], errors="coerce")
    return df

def benchmark_and_save_5models(df, date_col, target_col, models_dir, artefacts_dir, test_size=0.2):
    run_id = datetime.now().strftime("%Y%m%d_%H%M%S")
    run_dir = os.path.join(artefacts_dir, f"run_{run_id}")
    os.makedirs(run_dir, exist_ok=True)
    preds_dir = os.path.join(run_dir, "predictions")
    os.makedirs(preds_dir, exist_ok=True)

    # ---- Clean minimal ----
    df = df.copy()
    df = df.drop(columns=DROP_COLS, errors="ignore")
    df = ensure_datetime(df, date_col)
    df = df.dropna(subset=[date_col, target_col]).sort_values(date_col)

    # Garde features num√©riques uniquement (pour ML + SARIMAX exog)
    feature_cols = [c for c in df.columns if c not in {date_col, target_col}]
    X_all = df[feature_cols].select_dtypes(include=[np.number]).copy()
    df_final = pd.concat([df[[date_col, target_col]].reset_index(drop=True), X_all.reset_index(drop=True)], axis=1)
    df_final = df_final.dropna().reset_index(drop=True)

    feature_cols = list(X_all.columns)

    train_df, test_df = time_split(df_final, date_col, test_size=test_size)

    X_train = train_df[feature_cols]
    y_train = train_df[target_col].astype(float)

    X_test = test_df[feature_cols]
    y_test = test_df[target_col].astype(float)

    # Pour les mod√®les purement time-series (sans exog)
    y_train_ts = y_train.values
    y_test_ts = y_test.values

    # ---- Save run config ----
    save_json(os.path.join(run_dir, "run_config.json"), {
        "run_id": run_id,
        "date_col": date_col,
        "target_col": target_col,
        "test_size": test_size,
        "n_rows": int(len(df_final)),
        "n_train": int(len(train_df)),
        "n_test": int(len(test_df)),
        "features_numeric": feature_cols
    })
    save_json(os.path.join(run_dir, "split_info.json"), {
        "train_start": str(train_df[date_col].min()),
        "train_end": str(train_df[date_col].max()),
        "test_start": str(test_df[date_col].min()),
        "test_end": str(test_df[date_col].max()),
    })

    results = []

    # =========================
    # 1) Linear Regression
    # =========================
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    pred_lr = lr.predict(X_test)

    lr_path = os.path.join(models_dir, f"LinearRegression__{run_id}.joblib")
    joblib.dump(lr, lr_path)

    results.append({
        "run_id": run_id, "model": "LinearRegression",
        "MAE": float(mean_absolute_error(y_test, pred_lr)),
        "RMSE": rmse(y_test, pred_lr),
        "MAPE": mape(y_test, pred_lr),
        "model_path": lr_path
    })
    pd.DataFrame({date_col: test_df[date_col], "y_true": y_test, "y_pred": pred_lr}).to_csv(
        os.path.join(preds_dir, f"LinearRegression__preds.csv"), index=False
    )

    # =========================
    # 2) Random Forest
    # =========================
    rf = RandomForestRegressor(n_estimators=500, random_state=42, n_jobs=-1)
    rf.fit(X_train, y_train)
    pred_rf = rf.predict(X_test)

    rf_path = os.path.join(models_dir, f"RandomForest__{run_id}.joblib")
    joblib.dump(rf, rf_path)

    results.append({
        "run_id": run_id, "model": "RandomForest",
        "MAE": float(mean_absolute_error(y_test, pred_rf)),
        "RMSE": rmse(y_test, pred_rf),
        "MAPE": mape(y_test, pred_rf),
        "model_path": rf_path
    })
    pd.DataFrame({date_col: test_df[date_col], "y_true": y_test, "y_pred": pred_rf}).to_csv(
        os.path.join(preds_dir, f"RandomForest__preds.csv"), index=False
    )

    # =========================
    # 3) XGBoost
    # =========================
    xgb = XGBRegressor(
        n_estimators=800,
        learning_rate=0.05,
        max_depth=8,
        subsample=0.9,
        colsample_bytree=0.9,
        random_state=42,
        n_jobs=-1
    )
    xgb.fit(X_train, y_train)
    pred_xgb = xgb.predict(X_test)

    xgb_path = os.path.join(models_dir, f"XGBoost__{run_id}.joblib")
    joblib.dump(xgb, xgb_path)

    results.append({
        "run_id": run_id, "model": "XGBoost",
        "MAE": float(mean_absolute_error(y_test, pred_xgb)),
        "RMSE": rmse(y_test, pred_xgb),
        "MAPE": mape(y_test, pred_xgb),
        "model_path": xgb_path
    })
    pd.DataFrame({date_col: test_df[date_col], "y_true": y_test, "y_pred": pred_xgb}).to_csv(
        os.path.join(preds_dir, f"XGBoost__preds.csv"), index=False
    )

    # =========================
    # 4) SARIMAX (avec exog)
    # =========================
    # (p,d,q)(P,D,Q,s) : √† tuner plus tard. Ici un baseline.
    sarimax = SARIMAX(
        endog=y_train_ts,
        exog=X_train.values if X_train.shape[1] > 0 else None,
        order=(1, 1, 1),
        seasonal_order=(0, 0, 0, 0),
        enforce_stationarity=False,
        enforce_invertibility=False
    ).fit(disp=False)

    pred_sarimax = sarimax.forecast(
        steps=len(y_test_ts),
        exog=X_test.values if X_test.shape[1] > 0 else None
    )

    sarimax_path = os.path.join(models_dir, f"SARIMAX__{run_id}.pkl")
    sarimax.save(sarimax_path)

    results.append({
        "run_id": run_id, "model": "SARIMAX",
        "MAE": float(mean_absolute_error(y_test_ts, pred_sarimax)),
        "RMSE": rmse(y_test_ts, pred_sarimax),
        "MAPE": mape(y_test_ts, pred_sarimax),
        "model_path": sarimax_path
    })
    pd.DataFrame({date_col: test_df[date_col], "y_true": y_test_ts, "y_pred": pred_sarimax}).to_csv(
        os.path.join(preds_dir, f"SARIMAX__preds.csv"), index=False
    )

    # =========================
    # 5) Holt-Winters (ExponentialSmoothing)
    # =========================
    # Baseline: trend additive, sans saisonnalit√© (tu peux mettre seasonal si tu as une fr√©quence stable)
    hw = ExponentialSmoothing(
        y_train_ts,
        trend="add",
        seasonal=None
    ).fit()

    pred_hw = hw.forecast(len(y_test_ts))

    hw_path = os.path.join(models_dir, f"HoltWinters__{run_id}.pkl")
    hw.save(hw_path)

    results.append({
        "run_id": run_id, "model": "HoltWinters",
        "MAE": float(mean_absolute_error(y_test_ts, pred_hw)),
        "RMSE": rmse(y_test_ts, pred_hw),
        "MAPE": mape(y_test_ts, pred_hw),
        "model_path": hw_path
    })
    pd.DataFrame({date_col: test_df[date_col], "y_true": y_test_ts, "y_pred": pred_hw}).to_csv(
        os.path.join(preds_dir, f"HoltWinters__preds.csv"), index=False
    )

    metrics_df = pd.DataFrame(results).sort_values("RMSE").reset_index(drop=True)
    metrics_df.to_csv(os.path.join(run_dir, "metrics.csv"), index=False)
    save_json(os.path.join(run_dir, "metrics.json"), results)

    return metrics_df, run_dir


# =========================
# RUN
# =========================
metrics_df, artefacts_path = benchmark_and_save_5models(
    df=DF,
    date_col=DATE_COL,
    target_col=TARGET_COL,
    models_dir=MODELS_DIR,
    artefacts_dir=ARTEFACTS_DIR,
    test_size=0.2
)

print("‚úÖ Artefacts:", artefacts_path)
print("‚úÖ Mod√®les sauvegard√©s dans:", MODELS_DIR)
metrics_df

:

In [287]:
total_clients

87428

In [288]:
clients_per_year

   Year  clients_actifs_annee
0  2016                   257
1  2017                 40082
2  2018                 47089

In [211]:
clients_per_month

    year  month  clients_actifs_mois
0   2016     10                  256
1   2016     12                    1
2   2017      1                  824
3   2017      2                 1467
4   2017      3                 2316
5   2017      4                 2042
6   2017      5                 3301
7   2017      6                 2884
8   2017      7                 3699
9   2017      8                 3942
10  2017      9                 3864
11  2017     10                 4166
12  2017     11                 6694
13  2017     12                 4883
14  2018      1                 6326
15  2018      2                 5957
16  2018      3                 6352
17  2018      4                 6096
18  2018      5                 6069
19  2018      6                 5471
20  2018      7                 5335
21  2018      8                 5483

In [204]:
total_sales_per_day.head()

         Date  total_sales
0  2016-10-03      4292.73
1  2016-10-04     12079.74
2  2016-10-05      9666.65
3  2016-10-06     15266.24
4  2016-10-07     12994.68